@import './_reset.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4a4a4a;
}

.form-container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 30px;
  box-sizing: border-box;
}

.form-box {
  border: 1px solid #00b4b4;
  border-radius: 5px;
  overflow: hidden;
}

.title-wrap {
  background-color: #d7f3f3;
  border-bottom: 1px solid #00b4b4;
  position: relative;
  padding: 16px 10px;
  box-sizing: border-box;

  @include sp {
    padding: 35px 10px 16px;
  }

  .step {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: #3298dc;
    padding: 3px 7px;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .title {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    color: #4a4a4a;
    text-align: center;
  }
}

.input-wrapper {
  padding: 28px 20px;
  box-sizing: border-box;
}

.box {
  & + .box {
    margin-top: 30px;
  }
}

.inquiry-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  font-weight: 500;
  color: #4580a9;
  margin: 0 0 20px;
  .line {
    padding-left: 13px;
    padding-right: 13px;
    position: relative;
    display: inline-block;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 8px;
      height: 1px;
      background-color: #4580a9;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}

input[type='radio'] {
  border: 1px solid #4a4a4a;
}

label {
  font-size: 16px;
  color: #4a4a4a;
  margin-right: 12px;
}

.c-select-wrap {
  display: inline-block;
  margin-right: 12px;
  > select {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 7px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
  }
}

textarea {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 5px 7px;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
}

.link-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 420px;
  margin: 30px auto 0;

  &.justify-content-center {
    justify-content: center;
  }
}
